@import '../styles/colors';

.blog-post {
  margin-bottom: 5em;
  @for $i from 1 through 6 {
    h#{$i} {
      font-size: 26 - $i * 2px;
      font-weight: 400;
    }
  }

  h2 {
    font-weight: 600;
  }

  a {
    color: $light-blue;

    &:hover {
      color: $blue;
      text-decoration: none;
    }
  }
}
