.navlink {
  border: solid 1px #d7d7d7;
  border-radius: 0.2rem;
  color: #7d7d7d;
  background: white;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 0.5rem 0.9rem;
}
