@import '../../styles/colors';
$open-sans: 'Open Sans', sans-serif; // clear-fix mixin

.card {
  cursor: pointer;
  min-height: 330px;

  .img-resized {
    height: 15em;
  }

  a & {
    color: $black;

    &:hover {
      color: $light-black;
    }
  }
}
