$btn-dimension: 80px;
$primary-color: rgba(189,195,199 ,1);
$secondary-color: rgba(39,174,96 ,1);

.clap {
  background: none;
  border: 1px solid $primary-color;
  border-radius: 50%;
  height: $btn-dimension;
  width: $btn-dimension;

  &:focus {
    // As Bootstrap reset button outline
    // We need to set no button outline here
    outline: none;
  }

  &::after {
    border-radius: 50%;
    content: '';
    display: block;
    height: $btn-dimension - 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: $btn-dimension - 1px;
  }

  &:hover {
    border: 1px solid $secondary-color;
    cursor: pointer;
    transition: border-color 0.3s ease-in;

    &::after {
      animation: shockwave 1s ease-in infinite;
    }
  }

  svg {
    fill: none;
    stroke: $secondary-color;
    stroke-width: 2px;
    width: 40px;

    &.checked {
      fill: $secondary-color;
      stroke: #fff;
      stroke-width: 1px;
    }
  }

  .clap--count {
    background: $secondary-color;
    border-radius: 50%;
    color: white;
    font-size: 0.8em;
    height: $btn-dimension / 2;
    left: $btn-dimension / 4;
    line-height: $btn-dimension / 2;
    position: absolute;
    top: -$btn-dimension / 1.6;
    width: $btn-dimension / 2;
  }

  .clap--count-total {
    color: black;
    font-size: 0.8rem;
    left: 0;
    position: absolute;
    text-align: center;
    top: -$btn-dimension / 3.5;
    width: $btn-dimension;
  }

  #message {
    bottom: 20px;
    color: $secondary-color;
    font-size: 0.9rem;
    line-height: 1.52rem;
    padding: 1rem;
    position: absolute;

    a {
      color: $primary-color;
    }
  }
  @keyframes shockwave {
    0% {
      box-shadow: 0 0 2px $secondary-color;
      opacity: 1;
      transform: scale(1);
    }

    100% {
      box-shadow: 0 0 50px darken($secondary-color, 20%), inset 0 0 10px $secondary-color;
      opacity: 0;
      transform: scale(1);
    }
  }
}