.img-container {
  $height: 500px;
  $width: 1920px;

  min-height: $height; // background-image: url(http://lorempixel.com/1920/500/);
  background-image: url(/img/ust-header.jpg);
  background-repeat: no-repeat;
  background-size: $width $height;
  background-position: center top;

  margin-bottom: 10px;
}
