@import "../../styles/colors.scss";

.custom-navbar {
  .btn {
    background: $white;
  }
  $item-color: $cyan-blue;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 0 10px rgba(14, 14, 14, 0.26);
  // height: 55px;
  margin-bottom: 10px;
  transition: background 0.5s;

  .navbar-toggler {
    border: 0;
  }

  .fa {
    font-family: FontAwesome;
  }

  .container {
    .navbar-brand {
      color: $item-color;

      .brand-logo {
        background: $black;
        border-radius: 3px;
        color: $white;
        padding: 1px 5px 2px;
      }

      &:hover {
        color: $regal-blue;
      }
    }

    .nav-item {
      .nav-link {
        color: $item-color;

        &:hover {
          color: $regal-blue;
        }
      }
    }
  }

  &.is-fixed {
    background: rgba(255, 255, 255, 0.5);
  }
}