@import '../../styles/colors';

.intro-header {
  background: $white;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
  height: 100%;

  .avatar {
    border-radius: 50%;
    height: 120px;
    opacity: 0.9;
    width: 120px;
  }

  .custom-icon {
    .fa {
      font-family: FontAwesome;
    }

    .fa-stack {
      border-radius: 50%;
    }

    :hover {
      // background: $regal-blue;
      border-radius: 50%;

      i {
        background: $regal-blue;
      }
    }

    i {
      background: $light-blue;
      border-radius: 50%;
    }
  }
}
