@import '../../styles/colors';

.intro-header {
  background: $white;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
  height: 100%;
  @media (max-width: 992px) {
    margin: 15px;
  }
  margin-left: auto;

  .about-me {
    .avatar {
      border-radius: 50%;
      height: 120px;
      opacity: 0.9;
      width: 120px;
    }

    .name {
      color: $regal-blue;
      text-decoration: none;

      :hover {
        color: $light-blue;
      }
    }
  }

  .custom-icon {
    .fa {
      font-family: FontAwesome;
    }

    .fa-stack {
      border-radius: 50%;
    }

    :hover {
      border-radius: 50%;

      i {
        background: $light-blue;
      }
    }

    i {
      background: $regal-blue;
      border-radius: 50%;
    }
  }
}